@model SPS.Models.User_Id

@{
    ViewData["Title"] = "User_Login";
}
<style>
    *,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(https://source.unsplash.com/1920x2400?hdr,sunset,ocean);
  background-size: cover;
  background-repeat: no-repeat;
  
}
form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.03);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color:blue;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e1e1e1;
}

input:hover{
  outline: 2px solid #0001;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  margin-top: 30px;
  display: flex;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
  
}
.social .fb {
  margin-left: 25px;
}
.social i {
  margin: 10px 0 4px;
}

media only screen and (max-width: 600px) {
  body {
    background:url(https://source.unsplash.com/1080x2400?sunset+birdeye+ocean);
  }

</style>


<div>
    <section>
        <form asp-action="User_Login">

            @if (TempData["register"] != null)
            {
                <div class="alert alert-success">
                    <strong>Success:</strong> @TempData["register"]
                </div>
            }

            @if (TempData["forget"] != null)
            {
                <div class="alert alert-success">
                    <strong>Success:</strong> @TempData["forget"]
                </div>
            }
            <script>
                window.setTimeout(function () { $(".alert").fadeTo(500, 0).slideUp(500, function () { $(this).remove(); }); }, 1000);
            </script>
            <h3>Login Here</h3>

            <label asp-for="Email">Username</label>
            <input asp-for="Email" type="email" placeholder="Example@gmail.com" id="username">
            <span asp-validation-for="Email" class="text-danger"></span>

            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" placeholder="Password" id="password">
            <span asp-validation-for="Password" class="text-danger"></span>

            <button>Log In</button>
            <div class="social">
                <div class="go"> <a class="btn btn-outline-primary" asp-action="User_Register" style="color:black">New Registration</a></div>
                <div class="fb"><a class="btn btn-outline-warning" asp-action="Forget" asp-controller="Home" style="color:black">Forget Password</a></div>
            </div>
        </form>
    </section>

    <section>

        <form asp-action="User_Login">

            @if (TempData["register"] != null)
            {
                <div class="alert alert-success">
                    <strong>Success:</strong> @TempData["register"]
                </div>
            }

            @if (TempData["forget"] != null)
            {
                <div class="alert alert-success">
                    <strong>Success:</strong> @TempData["forget"]
                </div>
            }
            <script>
                window.setTimeout(function () { $(".alert").fadeTo(500, 0).slideUp(500, function () { $(this).remove(); }); }, 1000);
            </script>
            <h3>Login Here</h3>

            <label asp-for="Email">Username</label>
            <input asp-for="Email" type="email" placeholder="Example@gmail.com" id="username">
            <span asp-validation-for="Email" class="text-danger"></span>

            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" placeholder="Password" id="password">
            <span asp-validation-for="Password" class="text-danger"></span>

            <button>Log In</button>
            <div class="social">
                <div class="go"> <a class="btn btn-outline-primary" asp-action="Registration" style="color:black">New Registration</a></div>
                <div class="fb"><a class="btn btn-outline-warning" asp-action="Forget" style="color:black">Forget Password</a></div>
            </div>
        </form>

    </section>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}